{% extends "base.html" %}

{% block content %}
<h1>{{ ad.title }}</h1>

<img src="{{ ad.image_url }}" alt="{{ ad.title }}" style="max-width: 400px;">
<p>{{ ad.description }}</p>
<p>Состояние: {{ ad.get_condition_display }}</p>
<p>Категория: {{ ad.category.title }}</p>
<p>Пользователь: {{ ad.user }}</p>

{% if user == ad.user %}
    <a href="{% url 'ads:ad-edit' ad.pk %}">Редактировать</a>
    <a href="{% url 'ads:ad-delete' ad.pk %}">Удалить</a>
{% endif %}

<a href="{% url 'ads:ad-list' %}">← Назад к списку</a>
{% endblock %}
